
$black: #000;
$white: #fff;
$offwhite: #eee;
$red: #f00;
$blue: #00f;
$green: #0f0;
$darkred: darken($red, 5%);
$darkblue: darken($blue, 5%);
$lightblue: lighten($blue, 20%);
$lightgreen: lighten($green, 20%);
$lightred: lighten($red, 20%);
$background: #81e0e0;
$medium: #5f939b;
$dark: #1c2541;
$greyish: #6d9ca4;
$grey: #333;
