$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Righteous');

@import 'colors';

body {
  background-color: $white;
}

form {
  display: inline;
}

.board {
  background-color: $black;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 32.3% 32.3% 32.3%;
  grid-template-rows: 32.3% 32.3% 32.3%;
  height: 600px;
  margin: 0 auto 10px;
  width: 600px;
}

.board>div {
  background-color: $white;
  display: table-cell;
  font-family: 'Righteous', cursive;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: center;
}

.red-o {
  color: $darkred;
}

.blue-x {
  color: $darkblue;
}

.init {
  visibility: hidden;
}
