$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// Google Font
@import url('https://fonts.googleapis.com/css?family=Righteous');

@import 'colors';

$righteous: 'Righteous', sans-serif;

html {
  height: 100%;
  width: 100%;
}

h1 {
  color: $medium;
  font-size: 3em;
  height: 100%;
  margin: 0;
  padding: .8em 0;
  text-align: center;
  width: 100%;
}

body {
  background-color: $background;
  height: 100%;
}

form {
  display: inline;
}

footer {
  background-color: $dark;
  bottom: 0;
  color: $offwhite;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .08em;
  line-height: 26px;
  padding: 20px 100px 10px;
  position: fixed;
  width: 100%;
}

.board {
  background-color: $black;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 32% 32% 32%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: -5%;
  width: 500px;
}

.board > div {
  background-color: $background;
  // display: table-cell;
  font-family: $righteous;
  font-size: 180px;
  line-height: 160px;
  text-align: center;
  vertical-align: center;
}

.bottomright {
  bottom: 80px;
  position: absolute;
  width: 100%;
}

.blue-x {
  color: $darkblue;
}

.container-fluid {
  padding: 0;
  width: 100%;
}

.copyright {
  float: left;
}

.draw {
  color: $grey;
}

.headerbox {
  background-color: $dark;
  height: 15%;
  margin: 0;
  width: 100%;
}

.init {
  visibility: hidden;
}

.instructions {
  line-height: 10px;
  text-align: center;
}

.loggedoutbuttons {
  margin: auto;
}

.maincontent {
  display: none;
  flex-direction: column;
  height: 85%;
  justify-content: center;
  position: relative;
}

.messagebar {
  background-color: $medium;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 20%;
}

.new-game {
  display: block;
  margin: auto;
}

.red-o {
  color: $darkred;
}

.signature {
  float: right;
}

.signinbox {
  background-color: $medium;
  border-radius: 10px;
  height: auto;
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
  width: 50%;
}

.signinmaincontent {
  height: 100px;
  margin-top: 100px;
  position: relative;
}

.statbar {
  background-color: $medium;
  height: 100%;
  overflow-wrap: break-word;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
}

.statbox {
  background-color: $white;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  width: 80%;
}

.statbox > p {
  margin: auto;
}

.user-feedback-message {
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  text-align: center;
}

.userbuttons {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.welcomemessage {
  background-color: $white;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  text-align: center;
}

.win {
  background-color: $offwhite;
  border-radius: 20px;
  font-family: $righteous;
  font-size: 180px;
  line-height: 160px;
  text-align: center;
  vertical-align: center;
}


@media (max-width: 700px) {
  h1 {
    font-size: 2em;
    height: 0;
  }

  footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    text-align: center;
  }

  html {
    height: 100vh;
  }

  .copyright,
  .signature {
    float: none;
  }

  .board {
    height: 200px;
    width: 50%;
  }

  .headerbox {
    height: 10%;
  }

  .board > div {
    font-family: $righteous;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    vertical-align: center;
  }

  .statbox,
  .welcomemessage,
  .user-feedback-message,
  .cpw,
  .new-game,
  .logout {
    font-size: 8px;
  }

  .welcomemessage,
  .statbox {
    margin: auto;
  }

  .win {
    font-size: 75px;
    line-height: 75px;
  }
}
