$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Righteous');

@import 'colors';

.logout-form {
  display: inline;
}

.board {
  background-color: $black;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: 600px;
  margin: 0 auto;
  width: 600px;
}

.board>div {
  background-color: $white;
  display: table-cell;
  font-family: 'Righteous', cursive;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: center;
}

.red-o {
  color: $darkred;
}

.blue-x {
  color: $darkblue;
}
